body {
    background-image: url("./margin.jpg");
    background-repeat: repeat-y;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14pt;
}

#gridlayout {
    display: grid;
    grid-template-columns: 210px 1fr 300px;
}

#header {
    margin: 0 0 0 20px;
    grid-column-start: 2;
    grid-column-end: 5;
}

#header h1, #header h2  {
    margin: 10px 0 0 0;
}

#logo {
    float: right;
    margin: 20px 0 0 20px;
}

#main {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-left: 20px;
   
}

#side {
    border-radius: 25px;
    padding: 10px;
    grid-row-start: 2;
    grid-column-start: 4;
    background-color: lightgray;
}

#gallery {  
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));

}


#footer {
    grid-row-start: 4;
    margin-left: 20px;
    padding: 10px;
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: lightgray;
    height: 100px;
}



.home::before {
    content: '\25B2';
    font-size: 32pt;
}

.prev::before {
    content: '\25C4';
    font-size: 32pt;
}

.next::before {
    content: '\25BA';
    font-size: 32pt;
}

/*  grid-row-start: 2; */

#nav {
    position: fixed;
    border: 1px solid green;
}


#nav a {
    display:block;
    border: 2px solid gray;
    text-decoration: none;

}

#inside {
    float: right;
    margin: 0 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}






.photo {
    margin: 20px 0 0 20px;
}

img {
    display:block;
}

.photo img {
    width: 300px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

input[type=checkbox]:checked ~ label > img {
    transform: scale(3);
    cursor: zoom-out;
}

input[type=checkbox] {
    display: none;
}

